

*{

     box-sizing: border-box;
     margin: 0 ; 
     padding: 0 ; 
}

  body{
    background-color: #ffffff; 
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  }

    /* header section style start here  */
  #banner-section{
    height: 586px;
    background-image: url("../images/assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

  }

  .hero-img{
     position: relative;
     top : 15px; 
  }

  .hero-section{
    text-align: center;
  }

  .hero-heading{

 color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin: 35px 100px 35px 100px ; 

  }

  .hero-paragraph{

 color: rgb(13, 19, 33);
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;

  }

  .hero-btn{
 color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
background-color: rgb(13, 19, 33);
padding: 15px; 
margin-top: 18px; 
margin-bottom: 20px;
  }

  /* header-section style end here  */

  /* main section style start here  */

  .main-style{
    height: auto;
    margin-top: 100px;
    background-color:rgba(13, 19, 33, 0.02) ;
    padding : 100px 100px 100px 100px ; 
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 50px;
  
  }

   .sectio-top{
    text-align: center;
     
   }

   .main-header{
 color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
margin-bottom: 20px; 

   } 

.main-pera{
color: rgb(13, 19, 33);
font-size: 22px;
font-weight: 500;
line-height: 26px;
text-align: justify;
 margin : 50px; 
}

.main-style-one{ 
 width: 100%;
 display: flex;
 background-color: #ffffff;


}

 
.img-sec{
    
  
  display: flex;
  justify-content: flex-end;
  width: 50%;
  

}
 

.sec-title-one{
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  


}


 
.sec-title-hed{
  margin: 15px; 
  font-weight: bold;
  padding: 20px; 
 
}



.section-btn{
   padding: 10px; 
   background-color: #ffffff;
   display: block;
    margin: 30px; 
    font-size: 30px;
}

  
.section-title-pera{
  margin: 15px; 
  padding: 20px; 
 }

 #mergin{
        margin-top: 50px;
        margin-bottom: 50px;
 }
/* main section style end  here  */

 
 


